<div class="footer-container">
     <!-- <div class="footer-top">
    <div class="img-text">
        <img class="logo" src="../../../../../assets/logo.png" alt="" >
        <span>{{"gde sa psom"| transloco}}</span>
    </div>
    <div class="social">
        <a referrerpolicy="no-referrer"  href="https://www.instagram.com/gde_sa_psom/" target="_blank"><img class="s-ig" height="30px" src="../../../../../assets/ig.png" alt=""></a>
      <a referrerpolicy="no-referrer"  href="https://www.linkedin.com/in/milo%C5%A1-%C4%87irkovi%C4%87-918109203/" target="_blank"> <img  height="30px" src="../../../../../assets/ln.png" alt=""></a> 
    </div>
    </div> -->
    <div class="divider"></div>
<div class="footer-bottom">
    Copyright © 2021-{{date}} Designed And Developed By — <a referrerpolicy="no-referrer" href="https://www.linkedin.com/in/milo%C5%A1-%C4%87irkovi%C4%87-918109203/" target="_blank">Miloš Ćirković </a>
</div>
</div>
