
<div class="screen-1">
   
    <img class="logo-login" src="../../../../../assets/logo.png" alt="">
    <div class="email">
      <label for="email">Email Address</label>
      <div class="sec-2">
 
        <input [(ngModel)]="email" type="email" name="email" placeholder="Username@gmail.com"/>
      </div>
    </div>
    <div class="password">
      <label for="password">Password</label>
      <div class="sec-2">
 
        <input [(ngModel)]="password" class="pas" type="password" name="password" placeholder="············"/>
     
      </div>
    </div>
    <button (click)="loginSubmit()" class="login">Login </button>
  </div>