$p: hsl(213deg 85% 97%);
$s: hsl(233deg 36% 38%);

@mixin screen {
    background: $p;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 4.5rem auto;
    width: 380px;
    // box-shadow: 0 0 2em hsl(231deg 62% 94%);
}
.logo-login {
    margin: 2rem 0;
    height: 260px;
}
.screen-1 {
    @include screen;
    gap: 2em;
    .logo {
        margin-top: -3em;
    }
    .email {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);
        margin-top: -3em;
        input {
            outline: none;
            border: none;
            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }
        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -0.2em;
        }
    }
    .password {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);
        input {
            outline: none;
            border: none;
            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }
        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -0.2em;
        }
        .show-hide {
            margin-right: -5em;
        }
    }
    .login {
        padding: 1em;
        background: #7af15c;
        color: hsl(0 0 100);
        border: none;
        border-radius: 30px;
        font-weight: 600;
    }
    .footer {
        display: flex;
        font-size: 0.7em;
        color: hsl(0deg 0% 37%);
        gap: 14em;
        padding-bottom: 10em;
        span {
            cursor: pointer;
        }
    }
}

button {
    cursor: pointer;
}
