$text-color-default: #3c3c3c;
$text-color-dark: #6c6c6c;

$font-size14: 14px;
$font-size18: 18px;
$font-size20: 20px;

$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

$border-radius: 3px;
