<div class="catering-wrapper">
    <input [placeholder]="'pretrazi'|transloco" [(ngModel)]="searchWord" (keypress)="searchCateringFacilities(searchWord)" type="text"  class="search-input">
    <p class="header-text">{{'broj kafica'|transloco}}: {{countNumber}} </p>
    <p>{{allCateringFacilties?.length}}</p>
<div class="catering-container">
    <app-custom-card *ngFor="let data of allCateringFacilties "
[siteLink]="data?.iuo_link_web"
[images]="data?.slikaKafica?data?.slikaKafica:null"
[sizeOfDog]="data?.sta_ime"
[location]="data?.iuo_adressa"
[garden]="data?.bas_naziv"
[township]="data?.ops_ime"
[imagesInside]="data?.slikaUnutra?data?.slikaUnutra:null"
 [nameOfObject]="data?.iuo_ime"
 [city]="data?.grd_ime"

>

</app-custom-card>
</div>
<button class="show-more" (click)="showMore()">{{'prikazi vise'|transloco}}</button>
</div>