<div class="text-header">{{'nasa ponuda'|transloco}}</div>
<div class="suggested-container">
<app-custom-card *ngFor="let data of randomCateringFacilties?.random"
[siteLink]="data?.iuo_link_web"
[images]="data?.slikaKafica?data?.slikaKafica:null"
[sizeOfDog]="data?.sta_ime"
[location]="data?.iuo_adressa"
[garden]="data?.bas_naziv"
[township]="data?.ops_ime"
[imagesInside]="data?.slikaUnutra?data?.slikaUnutra:null"
 [nameOfObject]="data?.iuo_ime"
 [city]="data?.grd_ime"

>

</app-custom-card>


</div>
