.suggested-container {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(3, 300px) !important;
    }
    @media screen and (max-width: 970px) {
        grid-template-columns: repeat(2, 300px) !important;
    }
    @media screen and (max-width: 640px) {
        grid-template-columns: repeat(1, 300px) !important;
    }
}
.text-header {
    margin-top: 1rem;
    color: #fbfbfb;
    font-size: 24px;
    text-align: center;
}
