<div class="add-caffe-container twog-modal">
  <img class="close-button" (click)="close()" />
  <h2>{{ "predlozi" | transloco }}</h2>
  <form class="form-wrapper" [formGroup]="createCatering">
    <div class="input-text">
      <span>{{ "Ime objekta" | transloco }}</span>
      <input formControlName="iuo_ime" class="custom-modal-input" type="text" />
    </div>
    <div class="input-text">
      <span>{{ "Adresa objekta" | transloco }}</span>
      <input formControlName="iuo_adressa" class="custom-modal-input" type="text" />
    </div>
    <div class="input-text">
      <span>{{ "Link ka sajtu" | transloco }}</span>
      <input formControlName="iuo_link_web" class="custom-modal-input" type="text" />
    </div>
    <div class="input-text">
      <span>{{ "Slika kafica" | transloco }}</span>
      <img class="short-image" *ngIf="imgModal"  [src]="imgModal" alt="">
      <input formControlName="iuo_slika"   (change)="onFileChange($event)" class="custom-modal-input" type="file" />
    </div>
    <div class="input-text">
      <span>{{ "Slika kafica unutra" | transloco }}</span>
      <input formControlName="iuo_slika_unutra" (change)="handleUpload($event)" class="custom-modal-input" type="file" />
    </div>
    <button (click)="submitForm(createCatering)" type="submit">{{'dodaj'|transloco}}</button>
  </form>
</div>
