.center {
    text-align: center;
}
a {
    text-decoration: none !important;
}
.nav-wrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 35px;
    // margin-top: 40px;
    // border-radius: 0 0 15px 15px;
    padding: 0 25px;
    z-index: 2;
    // background: #fff;
    // background: #ffffff2e;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.nav-container {
    position: relative;
    top: 12px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 70px;
    width: 80px;
    // border-radius: 50px;
}

.nav-tabs-gp {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    z-index: 100;
}

.nav-tab-gp:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
    // border-right: 1px solid #eee;
}

.nav-tab-gp:last-child {
    padding: 10px 20px;
    margin: 0 10px;

    &:hover {
        border: 1px solid #5cb25d;
        border-radius: 8px;
    }
}

.nav-tab-gp {
    cursor: pointer;
    color: #fbfbfb;
    // &:hover {
    //     border-bottom: 1px solid #fbfbfb;
    // }
}

.nav {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 100;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #3c3c3c;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #fbfbfb;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

// .nav__link:hover {
//     background-color: #eeeeee;
// }

.nav__link--active {
    background-color: #eeeeee;
    color: #5cb25d;
}

.nav__icon {
    font-size: 18px;
}
.mobile-menu {
    display: none;
}
@media screen and (max-width: 870px) {
    .nav-container {
        display: none !important;
    }
    .mobile-menu {
        display: flex !important;
    }
}
