<!-- Start Timeline -->
<div class="about-continer">
<div id="timeline">
    <h1 class="about-title">{{'o nama'|transloco}}</h1>
  <ul class="line">
    <li>
      <div class="cont">
        <h3>{{ "ko smo mi" | transloco }}?</h3>
        <p>
          {{
            "info-site"
              | transloco
          }}
        </p>
        <!-- <time>16 nov, 2016</time> -->
      </div>
    </li>
    <li>
      <div class="cont">
        <h3>{{'free'|transloco}}</h3>
        <p>
          {{'free-to-use'|transloco}}
        </p>
      </div>
    </li>
    <li>
      <div class="cont">
        <h3>{{'kako predloziti'|transloco}}</h3>
        <p>
          {{'how-to-suggest'|transloco}}
        </p>
      </div>
    </li>
    <li>
      <div class="cont">
        <h3>{{'important'|transloco}}</h3>
        <p>
        {{'note'|transloco}}
        </p>
       
      </div>
    </li>
    <li></li>
    <!-- <li>
      <div class="cont">
        <h3>{{'success'|transloco}}</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit
          amet nulla blandit, sodales odio quis, semper nisi.
        </p>
      
      </div>
    </li> -->
  </ul>
</div>
</div>
<!-- End Timeline -->
