<div class="parks-container">
    <div class="parks-wrapper">
        
        <app-custom-card *ngFor="let park of parks"
         [city]="park?.grd_ime"
         [location]="park?.par_lokacija"
         [nameOfObject]="park?.par_ime"
         [images]="'../../../../assets/park.jpg'"
         [imagesInside]="'../../../../assets/park-inside.jpg'"
         [township]="park?.ops_ime"
        >

        </app-custom-card>
    </div>
    <div class="rules">
        <h1>{{'rules'|transloco}}:</h1>
        <span>{{'1-rule'|transloco}}</span>
        <span>{{'2-rule'|transloco}}</span>
        <span>{{'3-rule'|transloco}}</span>
        <span>{{'4-rule'|transloco}}</span>
        <span>{{'5-rule'|transloco}}</span>
        <span>{{'6-rule'|transloco}}</span>
        <span>{{'7-rule'|transloco}}</span>
        <span>{{'8-rule'|transloco}}</span>
        <span>{{'9-rule'|transloco}}</span>
        <span>{{'10-rule'|transloco}}</span>
        <span>{{'11-rule'|transloco}}</span>
        <span>{{'12-rule'|transloco}}</span>
        <span>{{'13-rule'|transloco}}</span>
    </div>
</div>