<div class="friends-site-container">
    <h3 class="friends-text">{{'prijatelji'|transloco}}</h3>
    <div class="friends-site-wrapper">
        <a href="https://eberza.rs/sr" target="_blank"> <img class="friend-image" src="../../../../../assets/friends/eberza.png" alt="friend4"></a>
       <a href="https://www.afeja.com/" target="_blank"> <img class="friend-image" src="../../../../../assets/friends/afeja.png" alt="friend1"></a>
        <a href="https://beeqos.net/" target="_blank"><img class="friend-image" src="../../../../../assets/friends/beeqos.png" alt="friend2"></a>
        <a href="https://matice.rs/" target="_blank"><img class="friend-image" src="../../../../../assets/friends/matice.png" alt="friend3"></a>
    </div>
</div>