@import "../../../../assets/scss/_default_variable.scss";
.nav {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #4e9f3d;
    img {
        width: 80px;
        height: 80px;
        background-size: cover;
    }
    .nav-wrapepr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        padding-right: 20px;
        a {
            font-size: 22px;
            color: #f4f4f4;
            list-style: none;
            text-decoration: none;
            &:hover {
                background: rgba(255, 255, 255, 0.16);
                border-radius: 3px;
                padding: 10px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(0px);
                -webkit-backdrop-filter: blur(0px);
            }
        }
    }
}
